<div class="avss-hero">
AVSS Início Funcionalidades Sobre nós Cadastre-se Avaliação Entrar
  <%= render "shared/logo" %>
<div>

<h1 style="font-family: 'Cabin', sans-serif; font-weight: 700; font-size: 24px">Funcionalidades</h1>


